{% extends 'base.html' %}
{% block title%} About {% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">About</h1>
    <p>Games have been a part of my life for as long as I can remember. Some of my earliest memories are of my oldest brother playing Final Fantasy VI on his Super Nintendo. I must have been 4 or 5 at the time and I <em>begged</em> for him to let me play with him.</p>
    <p>My parents loved to play card games, specifically a Portuguese card game called "sueca". This is a 4-player game with teams of two, trying to get as many points as possible per round. It's fast, competitive, and whenever family was gathered, there were always many hands of sueca being played and many laughs freely given.</p>
    <p>Later, I discovered Dungeons & Dragons and Magic: The Gathering. Formal, weekly game sessions became commonplace. There was always another adventure to explore or a draft to perfect.</p>
    <p>Lastly, board games came into my life as an adult. There had always been Monopoly, Risk, and other games that tormented me throughout my childhood. I didn't care for them, mostly due to their power to rip friends and families apart. Imagine my surprise when I learned that there are so many more board games beyond the scope of these classics, in all shapes and sizes! Apples to Apples, King of Tokyo, Lords of Waterdeep, Jamaica, Incan Gold, Catan, Gloomhaven, and so so many more games - from the simple to the complex - enthralled my mind and captivated my imagination. I was hooked.</p>
    <p>If you, like me, have a love of board games, please come join in the festivities. Let's share our thoughts and regale each other with the best times we've had playing these games. Games are, after all, meant to bring us together, to play some hands, and to freely give of our laughter - and ourselves.</p>
</div>
<footer>

</footer>
{% endblock %}