{% extends 'base.html' %} 

{% block title %} Search {% endblock %}
{% block content %}

<div class="container">
  <h1 class="title">{{ header }}</h1>
  <form class="mb-5" method="get">
    <div class="field has-addons">
      <div class="control">
        <!--  Our input will search by name of artist  -->
        <input class="input" type="text" name="name" placeholder="name" />
      </div>
      <div class="control">
        <input class="button is-success" type="submit" value="Search" />
      </div>
    </div>
    <!--  This anchor tag will reset the search without a query param -->
    <a class="button is-dark" href="{% url 'search' %}">Clear Search</a>
    <p>{{ footer }}</p>
  </form>
  <div class="gallery d-md-flex flex-wrap justify-content-center">
    {% for game in games %}
    <a href="{% url 'game_detail' game.slug %}">
      <div class="card text-center">
        <div class="card-image">
          <figure class="image is-square">
            <img class="img-fluid" src="{{game.thumbnail}}" alt="{{game.name}}" />
          </figure>
        </div>
        <div class="card-header">
          <p class="card-header-title">{{game.name}}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  
</div>

{% endblock %}