{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h1>{{user.username}}'s' Profile Page</h1>
    <div class="buttons">
        <a class="btn btn-light" href="{% url 'user_update' user.pk %}" class="button is-info"> Update Profile
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a class="btn btn-danger" href="{% url 'user_delete' user.pk %}" class="button is-info"> Delete Profile
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
    </div>

    <h2>First Name</h2>
    <p>{{user.first_name}}</p>
    
    <h2>Last Name</h2>
    <p>{{user.last_name}}</p>

    <h2>Email</h2>
    <p>{{user.email}}</p>

    <h2>Member Since</h2>
    <p>{{user.date_joined}}</p>

    <h2>{{user.username}}'s Collections:</h2>
    {% for collection in collections %}
    <p>{{collection.name}}</p>

    {% empty %}
    <p>No wishlists or collections.</p>

    {% endfor %}

    <h2>{{user.username}}'s Wishlists:</h2>
    {% for wishlist in wishlists %}
    <p>{{wishlist.name}}</p>

    {% empty %}
    <p>No wishlists or collections.</p>

    {%endfor %}

    {% endblock %}

</div>