{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h1>Test User Profile Page</h1>

    <h2>Username:</h2>
    <p>{{user.username}}</p>

    <h2>{{user.username}}'s Collections:</h2>
    {% for collection in collections %}
    <p>{{collection.name}}</p>

    {% empty %}
    <p>No wishlists or collections.</p>

    {% endfor %}

    <h2>{{user.username}}'s Wishlists:</h2>
    {% for wishlist in wishlists %}
    <p>{{wishlist.name}}</p>

    {% empty %}
    <p>No wishlists or collections.</p>

    {%endfor %}


    {% endblock %}

</div>